.sidebar-button-image {
    height: 40px;
    width: 40px;
}

@media (max-width: 600px) {
    .sidebar-button-image {
        height: 30px;
        width: 30px;
    }
}

.small-screen-invisible {
    display: none;
}

@media (min-height: 750px) {
    .small-screen-invisible {
        display: block;
    }
    .malvern-college-crest {
        max-height: 110px;
    }
}

@media (min-height: 800px) {
    .malvern-college-crest {
        max-height: 120px;
    }
}

@media (min-height: 900px) {
    .malvern-college-crest {
        max-height: 195px;
    }
}
.offcanvas-button-image-left {
    float: left;
}

.btn-transparent {
    background-color: rgba(255, 255, 255, 0);
}

.offcanvas {
    background-color: rgba(255, 255, 255, 0.9);
}
.form-group {
    text-align: center;
}

.hidden-scrollbar {
    overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0;
}
.mt-alerts {
    z-index: 1070;
}
#map {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
    background-color: #123320;
}
ul {
    list-style-type: none;
}
