{% extends "base.html" %}

{% block head %}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/main_map_page.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
{% endblock %}

{% block body %}
    {% include 'map.html' %}
    <button class="btn btn-primary btn-sm btn-transparent" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
        <img class="sidebar-button-image" src="../static/images/offcanvas_sidebar_action_button.svg" alt="Sidebar icon"/>
    </button>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="mt-alerts alert alert-{{ category }} alert-dismissible fade show text-center" role="alert">
                  {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="offcanvas offcanvas-start {{ 'show' if open_sidebar else '' }} hidden-scrollbar" tabindex="-1" data-bs-backdrop="false" id="offcanvasSidebar" aria-labelledby="offcanvasSidebarLabel">
        <button class="btn btn-primary btn-sm btn-transparent mb-2" type="button" data-bs-toggle="offcanvas" aria-label="Close">
            <img class="sidebar-button-image offcanvas-button-image-left" src="../static/images/offcanvas_sidebar_action_button.svg" alt="button image"/>
        </button>
        <div class="d-flex justify-content-center ">
            <form id="shortestPathCalculationForm" method="POST" action="{{ url_for('map.main_map_page')}}">
                {{ shortest_path_calculation_form.hidden_tag() }}
                <fieldset>
                    <legend class="border-bottom mb-2">Shortest path calculation</legend>
                    <div class="mb-1">
                        {% if shortest_path_calculation_form.starting_point.errors %}
                            {{ shortest_path_calculation_form.starting_point(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in shortest_path_calculation_form.starting_point.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ shortest_path_calculation_form.starting_point(class="form-control form-control-lg", placeholder="Enter starting point") }}
                        {% endif %}
                    </div>
                    <div class="mb-1">
                        {% if shortest_path_calculation_form.destination.errors %}
                            {{ shortest_path_calculation_form.destination(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in shortest_path_calculation_form.destination.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                        {{ shortest_path_calculation_form.destination(class="form-control form-control-lg", placeholder="Enter destination") }}
                        {% endif %}
                    </div>
                </fieldset>
                <fieldset>
                    <div class="row">
                        <div class="col-md-6">
                            <div>
                                {{ shortest_path_calculation_form.remove_stairs.label(class="form-label") }}
                                {{ shortest_path_calculation_form.remove_stairs(class="form-control form-select-sm") }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div>
                                {{ shortest_path_calculation_form.allow_shortcuts.label(class="form-label") }}
                                {{ shortest_path_calculation_form.allow_shortcuts(class="form-control form-select-sm") }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div>
                                {{ shortest_path_calculation_form.only_walkways.label(class="form-label") }}
                                {% if shortest_path_calculation_form.only_walkways.errors %}
                                    {{ shortest_path_calculation_form.only_walkways(class="form-control form-select-sm is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in shortest_path_calculation_form.only_walkways.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ shortest_path_calculation_form.only_walkways(class="form-control form-select-sm") }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div>
                                {{ shortest_path_calculation_form.only_car_paths.label(class="form-label") }}
                                {% if shortest_path_calculation_form.only_car_paths.errors %}
                                    {{ shortest_path_calculation_form.only_car_paths(class="form-control form-select-sm is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in shortest_path_calculation_form.only_car_paths.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ shortest_path_calculation_form.only_car_paths(class="form-control form-select-sm") }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="d-flex justify-content-center mt-2">
                        {{ shortest_path_calculation_form.submit(class="btn btn-success btn-lg") }}
                    </div>
                </fieldset>
            </form>
        </div>
        <hr>
        <button type="button" class="btn btn-outline-primary btn-sm mb-1" data-bs-toggle="modal" data-bs-target="#reportedNodeModal">
            Reported Events
        </button>
        {% if g.admin %}
            <a type="button" class="btn btn-outline-secondary btn-sm mb-1" data-bs-toggle="modal" data-bs-target="#manageStaffModal">
                Manage staff
            </a>
        {% endif %}
        <a type="button" class="btn btn-outline-info btn-sm mb-1" >
            About This Website
        </a>
        {% if g.email %}
            <a type="button" href="{{ url_for('report_system.logout') }}" class="btn btn-outline-danger btn-sm">
                Logout
            </a>
        {% else %}
            <a type="button" href="{{ url_for('report_system.login') }}" class="btn btn-outline-danger btn-sm">
                Staff Login
            </a>
        {% endif %}
        <div class="small-screen-invisible d-flex flex-column justify-content-center mt-1">
            <img src="./static/images/malvern_college_crest.svg" alt="malvern college crest" class="small-screen-invisible malvern-college-crest">
            <p class="small-screen-invisible text-center">
                Sapiens qui prospiciT<br>
                (wise is he who looks ahead)
            </p>
        </div>
    </div>
    <div class="modal fade" id="reportedNodeModal" aria-hidden="true" aria-labelledby="reportedNodeModalLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Reported Events Modal</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% if events_to_display %}
                        {% for event in events_to_display %}
                            <div class="card mb-3">
                                <div class="card-body">
                                    <h5 class="card-title">At node {{ event.node }}</h5>
                                    <div class="text-muted mb-0" style="font-size: 0.75em;">{{ event.timestamp|datetimeformat }}</div>
                                    <p class="card-text mt-1">{{ event.description }}</p>
                                    <div class="text-muted" style="font-size: 0.75em;">ID: {{ event._id }} </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>Most recent events not found. Refresh with the button below within a minute for updates.</p>
                        <button onclick="location.reload();" class="btn btn-primary">Refresh</button>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success btn-sm" >Search Events</button>
                    {% if g.email %}
                        <button class="btn btn-secondary btn-sm" data-bs-target="#removeReportedEventModal" data-bs-toggle="modal" data-bs-dismiss="modal">Remove Event</button>
                        <button class="btn btn-danger btn-sm" data-bs-target="#reportEventModal" data-bs-toggle="modal" data-bs-dismiss="modal">Report Event</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="reportEventModal" aria-hidden="true" aria-labelledby="reportedNodeModalLabel" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Report event</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{{ url_for('map.main_map_page')}}">
                        {{ report_event_form.hidden_tag() }}
                        <fieldset>
                            <div class="mb-3">
                                <label class="col-form-lacbel">Node to report:</label>
                                {% if report_event_form.node_to_report.errors %}
                                    {{ report_event_form.node_to_report(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in report_event_form.node_to_report.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ report_event_form.node_to_report(class="form-control", placeholder="Enter a valid node") }}
                                {% endif %}
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="mb-3">
                                <label class="col-form-label">Event Description:</label>
                                {% if report_event_form.description.errors %}
                                    {{ report_event_form.description(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in report_event_form.description.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ report_event_form.description(class="form-control", placeholder="Detailed description") }}
                                {% endif %}
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="mt-2">
                                {{ report_event_form.submit_report(class="btn btn-success") }}
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <button  class="btn btn-secondary btn-sm" data-bs-target="#reportedNodeModal" data-bs-toggle="modal" data-bs-dismiss="modal">Previous page</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="removeReportedEventModal" aria-hidden="true" aria-labelledby="removeReportedEventModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Report event modal</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{{ url_for('map.main_map_page')}}">
                        {{ remove_reported_event_form.hidden_tag() }}
                        <fieldset>
                            <div class="mb-3">
                                <label class="col-form-lacbel">Event ID:</label>
                                {% if remove_reported_event_form.event_to_remove_id.errors %}
                                    {{ remove_reported_event_form.event_to_remove_id(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in remove_reported_event_form.event_to_remove_id.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ remove_reported_event_form.event_to_remove_id(class="form-control", placeholder="Full event ID") }}
                                {% endif %}
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="mt-2">
                                {{ remove_reported_event_form.submit_event_to_remove(class="btn btn-success") }}
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary btn-sm" data-bs-target="#reportedNodeModal" data-bs-toggle="modal" data-bs-dismiss="modal">Previous page</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="manageStaffModal" aria-hidden="true" aria-labelledby="manageStaffModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Manage staff modal</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{{ url_for('map.main_map_page')}}">
                        {{ manage_staff_form.hidden_tag() }}
                        <fieldset>
                            <div class="mb-3">
                                <label class="col-form-label">Staff email:</label>
                                {% if manage_staff_form.email.errors %}
                                    {{ manage_staff_form.email(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in manage_staff_form.email.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ manage_staff_form.email(class="form-control", placeholder="Valid email") }}
                                {% endif %}
                            </div>
                        </fieldset>
                        <fieldset>
                            <div>
                                <label class="col-form-label">Staff type:</label><br>
                                {{ manage_staff_form.action(class="form-select-sm") }}
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="mt-4">
                                {{ manage_staff_form.submit_staff_action(class="btn btn-success") }}
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close modal</button>
                </div>
            </div>
        </div>
    </div>
    {% if open_remove_reported_event_modal %}
        <script>
            document.addEventListener('DOMContentLoaded', function(){
            var Modal = new bootstrap.Modal(document.getElementById('removeReportedEventModal'));
            Modal.show();
        });
        </script>
    {% endif %}
    {% if open_report_event_modal %}
        <script>
            document.addEventListener('DOMContentLoaded', function(){
            var Modal = new bootstrap.Modal(document.getElementById('reportEventModal'));
            Modal.show();
        });
        </script>
    {% endif %}
    {% if open_manage_staff_modal %}
        <script>
            document.addEventListener('DOMContentLoaded', function(){
            var Modal = new bootstrap.Modal(document.getElementById('manageStaffModal'));
            Modal.show();
        });
        </script>
    {% endif %}
     <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin="">
     </script>
    <script src="./static/javascript/map.js"></script>
    <script src="./static/javascript/toggle_sidebar_activation_button.js"></script>
    <script src="./static/javascript/on_submit.js"></script>
{% endblock %}


