{% extends "base.html" %}

{% block head %}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/main_map_page.css') }}">
{% endblock %}

{% block body %}
    <button class="btn btn-primary btn-sm btn-transparent" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
        <img class="sidebar-button-image" src="../static/images/offcanvas_sidebar_action_button.svg" alt="Sidebar icon"/>
    </button>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show text-center" role="alert">
                  {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="offcanvas offcanvas-start {{ 'show' if open_sidebar else '' }} hidden-scrollbar" tabindex="-1" data-bs-backdrop="false" id="offcanvasSidebar" aria-labelledby="offcanvasSidebarLabel">
        <button class="btn btn-primary btn-sm btn-transparent mb-2" type="button" data-bs-toggle="offcanvas" aria-label="Close">
            <img class="sidebar-button-image offcanvas-button-image-left" src="../static/images/offcanvas_sidebar_action_button.svg"/>
        </button>
        <div class="d-flex justify-content-center ">
            <form method="POST" action="{{ url_for('map.main_map_page')}}">
                {{ form.hidden_tag() }}

                <fieldset>
                    <legend class="border-bottom mb-2">Shortest path calculation</legend>
                    <div class="mb-1">
                        {% if form.starting_point.errors %}
                            {{ form.starting_point(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.starting_point.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.starting_point(class="form-control form-control-lg", placeholder="Enter starting point") }}
                        {% endif %}
                    </div>
                    <div class="mb-1">
                        {% if form.destination.errors %}
                            {{ form.destination(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.destination.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                        {{ form.destination(class="form-control form-control-lg", placeholder="Enter destination") }}
                        {% endif %}
                    </div>
                </fieldset>
                <fieldset>
                    <div class="row">
                        <div class="col-md-6">
                            <div>
                                {{ form.remove_stairs.label(class="form-label") }}
                                {{ form.remove_stairs(class="form-control form-select-sm") }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div>
                                {{ form.allow_shortcuts.label(class="form-label") }}
                                {{ form.allow_shortcuts(class="form-control form-select-sm") }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div>
                                {{ form.only_walkways.label(class="form-label") }}
                                {% if form.only_walkways.errors %}
                                    {{ form.only_walkways(class="form-control form-select-sm is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.only_walkways.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.only_walkways(class="form-control form-select-sm") }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div>
                                {{ form.only_car_paths.label(class="form-label") }}
                                {% if form.only_car_paths.errors %}
                                    {{ form.only_car_paths(class="form-control form-select-sm is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.only_car_paths.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.only_car_paths(class="form-control form-select-sm") }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="d-flex justify-content-center mt-2">
                        {{ form.submit(class="btn btn-success btn-lg") }}
                    </div>
                </fieldset>
            </form>
        </div>
        <hr>
        <button type="button" class="btn btn-outline-info btn-sm mb-1">
            About this website
        </button>
        <button type="button" class="btn btn-outline-danger btn-sm">
            Staff login
        </button>

        <div class="small-screen-invisible d-flex flex-column justify-content-center mt-1">
            <img src="./static/images/malvern_college_crest.svg" alt="malvern college crest" class="small-screen-invisible malvern-college-crest">
            <p class="small-screen-invisible text-center">
                Sapiens qui prospiciT - school motto<br>
                (wise is he who looks ahead)
            </p>
        </div>
    </div>
    <script src="./static/javascript/toggle_sidebar_activation_button.js"></script>
{% endblock %}


