{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
    <div class="d-flex justify-content-end">
        <a href="{{ url_for('map.main_map_page')}}" class="btn btn-primary btn-lg rounded-0">Return to map</a>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show text-center" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="d-flex justify-content-center mt-5">
        <form method="POST" action="{{ url_for('report_system.password_reset')}}">
            {{ form.hidden_tag() }}
            <fieldset>
                <legend class="border-bottom text-center mb-4">Staff password reset form</legend>
                <div class="mb-4">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg", placeholder="Enter email") }}
                    {% endif %}
                </div>
                <div class="mb-4">
                    {{ form.new_password.label(class="form-control-label") }}
                    {% if form.new_password.errors %}
                        {{ form.new_password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.new_password(class="form-control form-control-lg", placeholder="Enter password") }}
                    {% endif %}
                </div>
                <div class="mb-4">
                    {{ form.confirm_new_password.label(class="form-control-label") }}
                    {% if form.confirm_new_password.errors %}
                        {{ form.confirm_new_password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                    {{ form.confirm_new_password(class="form-control form-control-lg", placeholder="Enter password again") }}
                    {% endif %}
                </div>
            </fieldset>
            <fieldset>
                <div class="mt-2">
                    {{ form.submit(class="btn btn-outline-success btn") }}
                </div>
            </fieldset>
            <div class="border-top mt-4 d-flex justify-content-between">
                <small>
                    <a class="text-decoration-none ms-4" href="{{ url_for('report_system.login')}}">Login</a>
                </small>
                <small>
                    <a class="text-decoration-none me-4" href="{{ url_for('report_system.register') }}">Register</a>
                </small>
            </div>
        </form>
        <script src="./static/javascript/on_submit.js"></script>
    </div>
{% endblock %}